
.definition {
   border-left-color: rgb(124, 68, 255, 0.5);
   border-left-style: solid;
   border-left-width: 5px;
   border-radius: 5px;
   margin-bottom: 1em;
   margin-left:auto;
   margin-right:auto;
   margin-top: 1.5em;
   padding: 10px;
   width: 95%;

   & .title {
      background-color: rgba(124, 68, 255, 0.1);
      border-radius: 5px;
      font-size: 105%;
      font-weight: bold;
      padding-left: 7px;
      padding-top: 2px;
   }

   & .content {
      padding: 1px;
      margin-left:auto;
      margin-right:auto;
   }
}