<div class="page-foot">
    <p>Page tags:
    {{for x in tags}}
    <a href="/tag/{{fill x}}/">{{fill x}}</a>
    {{end}}
    </p>
    <a href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a> 
    {{fill author}}. {{isnotpage /tag/*}}Last modified: {{fill fd_mtime}}.{{end}}
    <br>
    Website built with <a
    href="https://github.com/tlienart/Franklin.jl">Franklin.jl</a>, based on
    template <a
    href="https://tlienart.github.io/FranklinTemplates.jl/templates/hyde/index.html">hyde</a>,
    and the <a href="https://julialang.org">Julia programming language</a>.
</div>
