<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <p><a href="https://www.unimore.it/">
          <img src="/assets/unimore.png" width="80%">
      </a></p>
      <h1><a href="/">MOOSR</a></h1>
      <p>a <a href="https://www.cds.unimore.it/">FIM PhD</a> teaching</p>
    </div>
    <br>
    <nav class="sidebar-nav">
      <a class="sidebar-nav-item {{ispage index.html}}active{{end}}"
        href="/">Home</a>
      <a class="sidebar-nav-item {{ispage 1-0-introduction/*}}active{{end}}"
        href="/1-0-introduction/">1.0 Introduction</a>
      <a class="sidebar-nav-item {{ispage 1-1-warmup-wrapper/*}}active{{end}}"
        href="/1-1-warmup-wrapper/">1.1 Warm-up</a>
      <a class="sidebar-nav-item {{ispage 1-2-scalarisation-methods-wrapper/*}}active{{end}}"
        href="/1-2-scalarisation-methods-wrapper/">1.2 Scalarisation methods</a>
    </nav>
    <br>
    <div class="sidebar-icons">
      <a href="{{fill project_url}}">
        <img src="/assets/gitlab.svg" width="20" height="20">
      </a>
      <a href="https://www.linkedin.com/in/ezarfati">
        <img src="/assets/linkedin.svg" width="20" height="20">
      </a>
    </div>
    <p>&copy; {{fill author}}</p>
  </div>
</div>
<div class="content container">
