<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {{insert style.html}}
  <title>Tag: {{fill fd_tag}}</title>
</head>
<body>
  {{insert sidebar.html}}
  <div class="franklin-content tagpage">
    <h1>Tag: {{fill fd_tag}}</h1>
    {{taglist}}
    {{insert page_foot.html}}
  </div>
</body>
</html> 
